/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2018, 6:28:12 PM
    Author     : Sithu
*/

.button{
    -fx-background-color: #263238;
    -fx-text-fill: #eceff1;
}

.glyph-icon{
    -fx-fill: #eceff1;
}

.my-own-btn{
    -fx-background-color: #ff0000;
}

.side-panel{
    -fx-background-color: #263238;
}
